<div id="Profile">
    <h1>Greetings from Wintan Hospital, {{name}}!</h1>
    <p>These are your details:</p>
    <div class="Card">
        <ul>
            <li>
                <span class="Card-Label">ID:</span> {{id}}
            </li>
            <li>
                <span class="Card-Label">Name:</span> {{name}}
            </li>
            <li>
                <span class="Card-Label">Date of birth:</span> {{dob}}
            </li>
            <li>
                <span class="Card-Label">Age:</span> {{age}}
            </li>
            <li>
                <span class="Card-Label">Gender:</span> {{gender}}
            </li>
        </ul>
    </div>
